.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: 0.5s;
}

.modal.active {
  opacity: 1;
  pointer-events: all;
}

.modalContent {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 12px;
  background-color: white;
  transform: scale(0.5);
  transition: 0.4s all;
  width: 50vw;
  @media (max-width: 760px) {
    width: 80vw;
    padding: 10px;
  }
}

.modalContent.active {
  transform: scale(1);
}

.modalContent p {
  font-size: 20px;
  font-weight: 800;
  margin: 20px 0;
  @media (max-width: 760px) {
    font-size: 18px;
    margin: 15px 0 5px;
  }
  }

.buttonsBlock button {
  font-size: 16px;
  font-weight: 400;
  margin: 20px;
}